@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
:root {
  --background-color: #030303;
  --content-color: lime; }

* {
  box-sizing: border-box; }

html, body {
  background-color: var(--background-color);
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  color: var(--content-color);
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  margin: auto;
  max-height: 100vh;
  max-width: 200vh;
  overflow: hidden;
  scrollbar-color: var(--content-color) transparent;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  body ::-webkit-scrollbar-track {
    background: transparent; }
  body ::-webkit-scrollbar-thumb {
    background: var(--content-color); }
  body ::-webkit-scrollbar-thumb:hover {
    background: var(--content-color); }

#app {
  height: 100%; }
  @media (min-width: 200vh) {
    #app {
      width: calc(100% + 4px);
      margin-left: -2px; }
      #app {
        border-left: 2px solid var(--content-color);
        border-right: 2px solid var(--content-color); } }
  #app .loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center; }
    #app .loading img {
      height: 150px;
      filter: opacity(0.1) drop-shadow(0 0 0px var(--content-color)) drop-shadow(0 0 0px var(--content-color)) drop-shadow(0 0 0px var(--content-color)) drop-shadow(0 0 0px var(--content-color)); }
    #app .loading .title {
      display: flex;
      flex-direction: column;
      padding-top: 15px; }
      #app .loading .title .text1 {
        font-size: 100px;
        line-height: 80px; }
      #app .loading .title .text2 {
        font-size: 52px;
        padding-left: 10px;
        line-height: 50px; }
    #app .loading .subtitle {
      width: 100%;
      text-align: center;
      font-size: 30px;
      margin-top: 40px; }
  #app table th, #app table td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center; }
  #app table th:first-child,
  #app table td:first-child {
    text-align: left; }
  #app table th:last-child,
  #app table td:last-child {
    padding-right: 10px; }
  #app .table-nav {
    display: flex;
    margin: 10px 5px;
    justify-content: flex-end; }
    #app .table-nav a {
      display: block;
      border: solid 1px var(--content-color);
      padding: 5px;
      margin: 0 5px;
      color: var(--content-color);
      text-decoration: none;
      position: relative;
      text-align: center;
      cursor: pointer;
      user-select: none; }
      #app .table-nav a[disabled] {
        opacity: 0.2;
        cursor: default;
        pointer-events: none; }
      #app .table-nav a.active:not([disabled]) {
        color: var(--background-color); }
        #app .table-nav a.active:not([disabled]) div {
          background-color: var(--content-color); }
      #app .table-nav a div {
        padding: 3px 5px; }
    #app .table-nav input {
      font-size: 1em;
      width: 4em;
      outline: none;
      border: none;
      background-color: transparent;
      font-family: 'Share Tech Mono', monospace;
      color: var(--content-color);
      border: solid 1px var(--content-color); }

#app > .loading {
  margin-left: 20px; }

.crt #app {
  filter: drop-shadow(0 0 1px var(--content-color)); }

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  /*animation: flicker 0.15s infinite;*/ }

#blazor-error-ui {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #blazor-error-ui .content {
    display: inline-block;
    background: var(--background-color);
    padding: 25px;
    padding-top: 45px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: solid 1px var(--content-color);
    box-shadow: 0 0 2px var(--content-color);
    text-align: center; }
    #blazor-error-ui .content div {
      margin-bottom: 20px; }
    #blazor-error-ui .content a {
      color: var(--content-color);
      font-weight: 600; }
    #blazor-error-ui .content .dismiss {
      cursor: pointer;
      position: absolute;
      right: 0.75rem;
      top: 0.5rem; }

@keyframes flicker {
  0% {
    opacity: 0.27861; }
  5% {
    opacity: 0.34769; }
  10% {
    opacity: 0.23604; }
  15% {
    opacity: 0.90626; }
  20% {
    opacity: 0.18128; }
  25% {
    opacity: 0.83891; }
  30% {
    opacity: 0.65583; }
  35% {
    opacity: 0.67807; }
  40% {
    opacity: 0.26559; }
  45% {
    opacity: 0.84693; }
  50% {
    opacity: 0.96019; }
  55% {
    opacity: 0.08594; }
  60% {
    opacity: 0.20313; }
  65% {
    opacity: 0.71988; }
  70% {
    opacity: 0.53455; }
  75% {
    opacity: 0.37288; }
  80% {
    opacity: 0.71428; }
  85% {
    opacity: 0.70419; }
  90% {
    opacity: 0.7003; }
  95% {
    opacity: 0.36108; }
  100% {
    opacity: 0.24387; } }
