/* /Pages/Loans.razor.rz.scp.css */
.layout-container[b-wrexl53obg] {
  padding-left: 20px; }
  .layout-container .loans[b-wrexl53obg] {
    width: 100%; }
    .layout-container .loans th[b-wrexl53obg] {
      text-align: left; }
/* /Pages/LoansAvailable.razor.rz.scp.css */
.layout-container[b-flw7w16vnd] {
  padding-left: 20px; }
  .layout-container .loans[b-flw7w16vnd] {
    width: 100%; }
    .layout-container .loans th[b-flw7w16vnd] {
      text-align: left; }
/* /Pages/Map.razor.rz.scp.css */
.layout-container[b-nwoixm3ugd] {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .layout-container .body-title[b-nwoixm3ugd] {
    padding-left: 20px; }
  .layout-container .map-container[b-nwoixm3ugd] {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .layout-container .map-container.hidden[b-nwoixm3ugd] {
      visibility: hidden; }
    .layout-container .map-container #map[b-nwoixm3ugd] {
      max-height: 100%;
      max-width: 100%; }
/* /Pages/Marketplace.razor.rz.scp.css */
.layout-container[b-5xuw8f7wu3] {
  padding-left: 20px; }
  .layout-container .cargo[b-5xuw8f7wu3] {
    width: 100%; }
/* /Pages/RouteCommands.razor.rz.scp.css */
.layout-container[b-r2nskvwrsf] {
  padding-left: 20px; }
  .layout-container .ships[b-r2nskvwrsf] {
    width: 100%; }
    .layout-container .ships th[b-r2nskvwrsf] {
      text-align: left; }
/* /Pages/Routes.razor.rz.scp.css */
.layout-container[b-ddcapnifz2] {
  padding-left: 20px; }
  .layout-container .ships[b-ddcapnifz2] {
    width: 100%; }
    .layout-container .ships th[b-ddcapnifz2] {
      text-align: left; }
/* /Pages/RouteShips.razor.rz.scp.css */
.layout-container[b-ianutf8m00] {
  padding-left: 20px; }
  .layout-container .ships[b-ianutf8m00] {
    width: 100%; }
    .layout-container .ships th[b-ianutf8m00] {
      text-align: left; }
/* /Pages/ShipCargo.razor.rz.scp.css */
.layout-container[b-zarqbuigty] {
  padding-left: 20px; }
  .layout-container .cargo[b-zarqbuigty] {
    width: 100%; }
    .layout-container .cargo th[b-zarqbuigty] {
      text-align: left; }
/* /Pages/ShipDestination.razor.rz.scp.css */
.layout-container[b-b42k6if7k5] {
  padding-left: 20px; }
  .layout-container .scan[b-b42k6if7k5] {
    width: 100%; }
    .layout-container .scan th[b-b42k6if7k5] {
      text-align: left; }
/* /Pages/Ships.razor.rz.scp.css */
.layout-container[b-obu1hjmg1n] {
  padding-right: 20px; }
  .layout-container .ships[b-obu1hjmg1n] {
    width: 100%;
    padding-bottom: 20px; }
    .layout-container .ships th[b-obu1hjmg1n] {
      text-align: left; }
/* /Pages/Shipyard.razor.rz.scp.css */
.layout-container[b-rzdpm65y1d] {
  padding-left: 20px; }
  .layout-container .shipyard[b-rzdpm65y1d],
  .layout-container .locations[b-rzdpm65y1d] {
    width: 100%; }
    .layout-container .shipyard th[b-rzdpm65y1d],
    .layout-container .locations th[b-rzdpm65y1d] {
      text-align: left; }
/* /Pages/Systems.razor.rz.scp.css */
.layout-container[b-qfwppm299j] {
  padding-left: 20px; }
  .layout-container .scan[b-qfwppm299j] {
    width: 100%; }
    .layout-container .scan th[b-qfwppm299j] {
      text-align: left; }
/* /Shared/MainLayout.razor.rz.scp.css */
.message[b-yw6ekk3t2y] {
  margin-left: 20px;
  margin-top: 20px; }

.page[b-yw6ekk3t2y] {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0; }
  .page .body[b-yw6ekk3t2y] {
    width: 50%;
    display: flex;
    flex-direction: column; }
    .page .body .top-nav[b-yw6ekk3t2y] {
      display: flex;
      margin: 10px 5px; }
      .page .body .top-nav[b-yw6ekk3t2y]  a {
        flex: 1 1 auto;
        display: block;
        border: solid 1px var(--content-color);
        padding: 5px;
        margin: 0 5px;
        color: var(--content-color);
        text-decoration: none;
        position: relative;
        text-align: center; }
        .page .body .top-nav[b-yw6ekk3t2y]  a.active {
          color: var(--background-color); }
          .page .body .top-nav[b-yw6ekk3t2y]  a.active div {
            background-color: var(--content-color); }
        .page .body .top-nav[b-yw6ekk3t2y]  a div {
          padding: 5px; }
      .page .body .top-nav .sub-nav[b-yw6ekk3t2y] {
        flex: 1 1 auto;
        position: relative; }
        .page .body .top-nav .sub-nav:hover .dropdown[b-yw6ekk3t2y] {
          display: block; }
        .page .body .top-nav .sub-nav .dropdown[b-yw6ekk3t2y] {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          width: 100%; }
          .page .body .top-nav .sub-nav .dropdown[b-yw6ekk3t2y]  a {
            background-color: var(--background-color);
            margin-top: 5px; }
            .page .body .top-nav .sub-nav .dropdown[b-yw6ekk3t2y]  a div {
              filter: drop-shadow(0 0 1px var(--content-color)); }
    .page .body .content[b-yw6ekk3t2y] {
      flex: 1;
      max-height: 100%;
      overflow: auto; }
  .page .info[b-yw6ekk3t2y] {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--content-color); }
    .page .info .info-bar[b-yw6ekk3t2y] {
      width: 100%;
      padding: 5px 20px;
      border-bottom: 2px solid var(--content-color); }
      .page .info .info-bar .right[b-yw6ekk3t2y] {
        float: right; }
    .page .info .ships[b-yw6ekk3t2y] {
      border-bottom: 2px solid var(--content-color);
      padding-left: 20px;
      padding-right: 5px;
      overflow-y: auto;
      scrollbar-width: thin; }
    .page .info .console[b-yw6ekk3t2y] {
      flex: 1;
      min-height: 30%;
      display: flex;
      flex-direction: column;
      padding-left: 20px; }
      .page .info .console .output[b-yw6ekk3t2y] {
        flex: 1;
        overflow-y: auto;
        scrollbar-width: thin; }
        .page .info .console .output .text-container[b-yw6ekk3t2y] {
          display: flex;
          min-height: 100%;
          align-items: flex-end; }
          .page .info .console .output .text-container p[b-yw6ekk3t2y] {
            white-space: pre-wrap;
            margin: 0; }
      .page .info .console .command-input[b-yw6ekk3t2y] {
        display: flex;
        align-items: center;
        padding: 10px 0; }
        .page .info .console .command-input span[b-yw6ekk3t2y] {
          line-height: 1em; }
        .page .info .console .command-input input[b-yw6ekk3t2y] {
          flex: 1;
          height: 1em;
          line-height: 1em;
          font-size: 1em;
          width: 100%;
          padding-left: 13px;
          outline: none;
          border: none;
          background-color: transparent;
          font-family: 'Share Tech Mono', monospace;
          color: var(--content-color); }
