.layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .body-title {
        padding-left: 20px;
    }

    .map-container {
        flex: 1;
        min-width: 0;
        min-height: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &.hidden {
            visibility: hidden;
        }

        #map {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
